# =============== #
# Unity Generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
sysinfo.txt

# ========== #
# IDE Files  #
# ========== #
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Rider
.idea/

# Visual Studio Code
.vscode/

# =============== #
# Other Caches    #
# =============== #
*.apk
*.aab
*.unitypackage
*.app

# Crash Reports
sysinfo.txt

# ============== #
# Build Artifacts#
# ============== #
Build/
Builds/
*.buildlog

# ================= #
# Asset Store Tools #
# ================= #
AssetStoreTools*

# ============ #
# JetBrains IDE #
# ============ #
*.dotCover
*.dotTrace
*.dotMemory
*.dotSettings
.idea/

# ============== #
# Addressables    #
# ============== #
/ServerData/
